@import './variables';

* {
    outline: none !important;
}

html, body {
    background-color: $background;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    
    padding-bottom: 60px;

    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}

.al-title {
    font-weight: 600;
    color: $accent;
    margin: 0.9em 0 1em 0;

    .al-button {
        float: right;
        font-size: .7em;
        margin-top: .2em;
    }
}

.al-text-tail {
    font-size: 0.7em;
    font-weight: 100;
}


.al-avatar {
    &-miniature {
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;

        width: 50px;
        height: 50px;
        margin-left: 0.5em;
        border-radius: 50%;        
    }

    &-logo-small {        
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;

        width: 50px;
        height: 50px;
        border-radius: 50%;    
    }
}

.al-icon {
    color: $brand;

    &-user {
        background-color: whitesmoke;
        display: inline-block;
        margin: 0.5em 0;
        padding: 2px 4px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        text-decoration: none;
        color: inherit;

        &:hover {
            background-color: lightgray;
        }
    }
}

.al-float-right {
    float: right;
}

.al-float-left {
    float: left;
}

.al-text-center {
    text-align: center;
}

.al-margin-top {
    margin-top: 18px;
}

.al-margin-right {
    margin-right: 18px;
}

.al-margin-bottom {
    margin-bottom: 18px;
}

.al-margin-left {
    margin-left: 18px;
}

.al-sticky-bar {
    position: fixed;
    left: 0;
}

.al-no-style-ul {
    list-style-type: none;
    margin: auto;
    padding: 0 10px 0px 10px; 

    li {
        padding: 0 0 5px 0;
    }
}

.clear-fix {
    clear: both;
}

.al-rounded {
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.al-circle {
    @extend .al-rounded;
    border-radius: 50%;
}

.al-panel {
    @extend .al-rounded;
    background-color: white;
    overflow: hidden;
}

.al-section-title {
    @extend .al-title;
    font-size: 1.4em;
    color: $gray;
    margin: 1em 0 0.5em 0; 
}
