@import './variables';
@import './global';

$header-height: 60px;

.al-header {
    background-color: $brand;
    height: $header-height;
    padding: 0 20px;
    
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);

    &-logo {

        display: flex;
        align-items: center;
        height: $header-height;

        &-wrapper.al-flex-row {
            justify-content: flex-start;
            min-width: 250px + 18px;
        }

        &-face {
            width: 67px;
            height: $header-height;

            margin-right: 10px;

            background-size: 150% auto;
            background-position: center;
        }

        &-title {
            height: 40px;
            margin-top: 2px;
        }
    }

    &-content {
        max-width: $responsive-breakpoint;
        height: 100%;
        margin: auto;
    }

    &-subtitle {
        font-family: 'Open Sans', sans-serif;
        margin: -0.75em 0 0 .15em;
        color: white;
        font-size: 1.5em;

        > a {
            text-decoration: none; 
            color: inherit;
        }
    }

    &-navigation {
        &-option {
            text-decoration: none;
            display: inline-block;
            line-height: 60px;
            font-size: 1.2em;
            font-weight: 600;
            margin-right: 18px;
            color: rgba(255,255,255,0.7);
            box-shadow: inset 0px 0px 0px $accent;
            transition: all 0.1s ease;

            &:hover:not(.active) {
                color: rgba(255,255,255,0.9);
                box-shadow: inset 0px -2px 0px $accent;
            }

            &.active {
                color: white;
                box-shadow: inset 0px -4px 0px $accent;
            }
        }
        &-action.al-button {
            float: right;
            font-size: 1.2em;
            line-height: 40px;
            margin-top: 8px;
            padding: 0 10px;
        }
    }

    &-menu {
        margin: 0;
        text-align: right;

        > a {
            padding-left: .75em;
            font-family: 'Open Sans', sans-serif;
            color: white;
            text-decoration: none;
        }
    }
}

.al-sidebar {
    width: 250px;
    max-width: 250px;

    &-section {
        @extend .al-panel;
        margin-top: 18px;
        width: 100%;
        box-sizing: border-box;
        padding: 5px 12px 10px 12px;

        &-title {
            font-weight: 300;
            color: $dark-gray;
            margin: 0;
        }
    }
}

.al-item-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 
.al-content {
    &-wrapper {
        max-width: $responsive-breakpoint;
        margin: auto;
        padding: 1px 20px 30px 20px;
    }
    
    &-panel {
        @extend .al-panel;
        color: $dark-gray;
        padding: 1px 1em;
        margin: 18px 0;

        hr { border: none; border-bottom: 2px solid rgba($gray, 0.1); margin: 0.7em 0; }
    }
}

.al-footer {
    // background-color: $brand;

    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;

    padding: 0.10rem;

    &-content {
        color: $gray;
        max-width: $responsive-breakpoint;
        margin: auto;
        padding: 0 20px;
    }

    &-link {
        color: $accent;
        text-decoration: none;
        font-weight: bold;
    }

    &-side-detail {
        font-size: .9em;
        width: 250px;
        text-align: left;
        
        &.al-float-right {
            text-align: right;
        }
    }

    .fa-code {
        color: $brand;
    }

    .fa-heart {
        color: $detail_red;
    }
}
