* {
    outline: none !important;
}

html, body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

/* FORMS */
label {
    font-size: 0.9em;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #eaeaea;
    width: 100%;
    box-sizing: border-box;
    padding: 0.4em;
    border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #e67e22;
    resize: vertical;
}

input[type="submit"],
button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #e67e22;
    border: none;
    padding: 0.4em 0.8em;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

input[type="submit"] *,
button * {
    vertical-align: middle;
}

input[type="submit"].al-btn-important,
button.al-btn-important {
    display: inline-block;
    padding: 0 1.1em 0.1em 1.1em !important;
    height: 2.2em;
    border-radius: 1.1em;
}

span.helptext {
    font-size: 0.7em;
    color: #b1b1b1;
}

/* Custom */

.al-header {
    background-color: #e67e22;
}

.al-header-content {
    height: 60px;
    max-width: 1120px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
}

.al-header-title {
    font-family: 'Ravi Prakash', cursive;
    margin: 0;
    margin-top: .23em;
    color: white;
    font-size: 2.5em;
    line-height: 1em;
}

.al-header-title > a {
    text-decoration: none;
    color: inherit;
}

.al-header-menu {
    width: 100%;
    margin: 0;
    text-align: right;
}

.al-header-menu > a {
    padding-left: .75em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
}

.al-content-wrapper {
    max-width: 1120px;
    margin: auto;
    margin-top: 15px;
    padding: 0 20px;
}

.al-content {
    background-color: white;
    border-radius: 3px;
}

.al-rich-content {
    padding: 1px 1em;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    text-align: left;
    border: 1px solid lightgrey;
    padding: 5px 7px;
}

table th {
    background-color: lightgrey;
}

.al-floating-box {
    max-width: 400px;
    margin: auto;
    margin: 40px auto;
}

.al-floating-box-title {
    text-align: center;
    font-family: 'Ravi Prakash', cursive;
    color: #e67e22;
    font-size: 2em;
    margin: 0;
    line-height: 1em;
}

.al-floating-box-title h1 {
    margin: 15px;
}

.al-floating-box-content {
    background-color: white;
    padding: 1px 15px 15px 15px;
    box-shadow: 0px 3px 40px rgba(0,0,0,0.03);
    border-radius: 3px;
}

.al-floating-box-form p label {
    display: block;
    margin-bottom: 5px;
}

.al-floating-box-form input {
    font-size: 1.2em;
}

.al-form-submit-big-wrapper {
    text-align: center;
    margin-bottom: -15px;
    margin-top: -15px;
}

.al-form-submit-big {
    transform: translate(0px, 50%);
}

.al-activity-header {
    margin: 15px 0 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.al-activity-header-section-right {
    text-align: right;
}

.al-activity-header small {
    font-size: .5em;
    font-weight: 200;
}

.al-activity-header-title {
    font-size: 2.5em;
    margin: 0 0 10px;
}

.al-activity-header-date {
    margin: 0;
    color: grey;
    font-size: 0.9em;
}

.al-activity-header-date b {
    color: black;
    font-weight: bold;
}

.al-activity-header-join {
    font-size: 1.5em;
}

.al-activity-description {
    margin: 25px 0;
    padding: 15px;
}

.al-activity-attendants {
    margin: 25px 0;
    padding: 15px;
}

.al-activity-attendant {
    display: inline-block;
    padding: 2px 4px;
    background-color: whitesmoke;
    border-radius: 3px;
}

/* Form-specific style */
.al-new-activity-form #id_title {
    font-size: 1.2em;
}
.al-new-activity-form #id_confirmation_period,
.al-new-activity-form #id_age_minimum {
    width: 100px;
}

.al-new-activity-form label[for="id_confirmation_period"],
.al-new-activity-form label[for="id_age_minimum"] {
    display: inline-block;
    width: 160px;
}

.al-new-session-form #id_start_date,
.al-new-session-form #id_end_date,
.al-new-session-form #id_location {
    width: 150px;
}

.al-new-session-form [for="id_start_date"],
.al-new-session-form [for="id_end_date"],
.al-new-session-form [for="id_location"] {
    width: 100px;
    display: inline-block;
}
