{% extends './_layout_activity.html' %}
{% load i18n %}

{% block user_options %}    
    <a class="al-btn-action-big" href="{% url 'alpaca:edit_activity' activity.id %}">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>{% trans "Edit" %}</span>
    </a>
{% endblock %}

{% block attendants %}
    {% if activity.attendants.count <= 0 %}
        <p>{% trans "There are no users attending your activity." %}</p>
    {% else %}
        <form action="{% url 'alpaca:kick_attendant' activity.id %}" method="POST">
            {% csrf_token %}
            <select id="attending_users" name="attending">
            {% for att in activity.attendants.all %}
                <option value="{{att.id}}">{{ att.username }}</option>
            {% endfor %}
            </select>
            <input type="submit" class="al-btn-sqrflat-small" name="kick_participant" value="{% trans 'Kick out' %}"/>
        </form>
    {% endif %}
{% endblock %}

{% block requests %}
    <div class="al-content-panel">
        <small>{% trans "Pending requests:" %}</small>  
        {% if activity.pending_attendants.count <= 0 %}
            <p>{% trans "There are no pending requests to join the activity." %}</p>
        {% else %}
            <p>{% trans "Manage the requests to join the activity:" %}</p>
            <form action="{% url 'alpaca:activity_pending_attendants' activity.id %}" method="POST">
                {% csrf_token %}
                <select id="pending_requests" name="user_join_request">
                {% for att in activity.pending_attendants.all %}
                    <option value="{{att.id}}">{{ att.username }}</option>
                {% endfor %}
                </select>
                <input type="submit" class="al-btn-sqrflat-small" name="accept_request" value="{% trans 'Accept' %}"/>
                <input type="submit" class="al-btn-sqrflat-small" name="reject_request" value="{% trans 'Reject' %}"/>
            </form>  
        {% endif %}
    </div>
{% endblock %}

{% block session_list_menu %}
    <a class="al-btn-action-small" href="{% url 'alpaca:new_session' activity.id %}">
        <i class="fa fa-plus"></i> <span>{% trans "Add session" %}</span>
    </a>
{% endblock %}
    
{% block session_extra_columns %}
    <th>{% trans "State" %}</th>
    <th>{% trans "Edit" %}</th>
{% endblock %}      
 
{% block session_extra_cells %}
    <td class="text-center">
        {% if session.has_finished %}
            <p>{% trans "Closed & Finished" %}</p>
        {% elif session.is_on_confirmation_period %}
            <p>{% trans "Open for confirmation" %}</p>
        {% else %}
            <p>{% trans "Not ready yet" %}</p>
        {% endif %}
    </td>
    <td class="text-center">
        {% if not session.has_finished %}
            <a href="{% url 'alpaca:edit_session' activity.id session.id %}">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
        {% endif %}
    </td>
{% endblock %}       
