{% load i18n %}

<div class="al-content-panel al-content-sidebar">
    <h2>{% trans "Show" %}</h2>
    <form name="filter_form" method="GET" class="al-form-base al-panel-form">
        <input type="radio" name="filter" onclick="location.href=this.value;" value="?filter=all" 
            {% if current_filter == "all" or current_filter is None%} checked {% endif %}> 
                <span>{% trans "All Groups" %}</span> 
        <br>
        <input type="radio" name="filter" onclick="location.href=this.value;" value="?filter=admin"
            {% if current_filter == "admin" %} checked {% endif %}> 
                <span>{% trans "As an admin" %}</span> 
        <br>
        <input type="radio" name="filter" onclick="location.href=this.value;" value="?filter=member"
            {% if current_filter == "member" %} checked {% endif %}> 
                <span>{% trans "As a member" %}</span>
    </form>
</div>

            
