@import '../global/variables';

.al-form-base {
    /* Django-generated-specific */
    span.helptext {
        font-size: 0.7em;
        color: #b1b1b1;
    }

    ul.errorlist {
        padding: 0;
        list-style: none;
        color: white;
        border-radius: 3px;
        font-size: .9em;

        li {
            background-color: red;
            margin: 3px 0;
            padding: 5px 8px;
            border-radius: 3px;
        }
    }
    /* ------------------------- */

    label {
        font-size: 0.9em;
        margin-bottom: 0.2em;
        display: inline-block;
    }

    textarea {
        resize: vertical;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"], 
    input[type="password"],
    textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        width: 100%;
        box-sizing: border-box;
        padding: 0.7em;

        border: 1px solid #eaeaea;
        border-radius: 3px;     

        box-shadow: inset -1px 2px 3px rgba(0,0,0,0.1);

        &:hover:not([disabled]) {
            border-color: #b0b0b0;
        }

        &:focus:not([disabled]) {
            border-color: $accent;
            box-shadow: inset -1px 2px 3px rgba($accent,0.4);
        }
    }

    .al-submit-wrapper {
        text-align: center;
        margin-bottom: 15px;

        &-edge {
            text-align: center;
            margin-bottom: -15px;
            margin-top: -15px;
        }
    }

    input[type="submit"] {
        font-size: 1.2em;
        padding: 0.3em 0.7em 0.4em 0.7em;
    }

}