.al-new-session-form #id_start_date,
.al-new-session-form #id_end_date,
.al-new-session-form #id_location {
    width: 150px;
}

.al-new-session-form [for="id_start_date"],
.al-new-session-form [for="id_end_date"],
.al-new-session-form [for="id_location"] {
    width: 100px;
    display: inline-block;
}
