.al-new-activity-form #id_title {
    font-size: 1.2em;
}
.al-new-activity-form #id_confirmation_period,
.al-new-activity-form #id_age_minimum {
    width: 100px;
}

.al-new-activity-form label[for="id_confirmation_period"],
.al-new-activity-form label[for="id_age_minimum"] {
    display: inline-block;
    width: 160px;
}

