.al-activity-attendants {
    margin: 25px 0;
    padding: 15px;
}

.al-activity-attendant {
    display: inline-block;
    padding: 2px 4px;
    background-color: whitesmoke;
    border-radius: 3px;
}
