@import '../global/variables';

.al-activity {
    margin: 25px 0;
    padding: 1px 15px;

    &-header  {
        margin: 15px 0 25px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &-title {
        h1 {
            font-size: 2.5em;
            margin: 0 0 10px;
        }

        small {
            font-size: .5em;
            font-weight: 200;
        }
    }

    &-next-session {
        margin: 0;
        color: grey;
        font-size: 0.9em;
        b {
            color: black;
            font-weight: bold;
        }
    }

    &-menu {
        text-align: right;  
    }

    &-cover {
        width: 30%;
        float: left;
        margin-right: 1em;
        
        text-align: center;
        
        > i {
            color: $brand;
            font-size: 5em;
        }
    }
}