.al-flex {    

    &-grow {
        flex-grow: 1;
    }
    
    &-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &-column {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    &-stretch-content {
        flex-wrap: nowrap;
        align-items: stretch;
    }

    &-adapt-content {
        flex-wrap: nowrap;
        align-items: stretch;
        
        div:nth-child(n):not(:first-child) {
            margin-left: 15px;
        }
    }    

    &-extent-content {
        justify-content: space-between;
    }

    &-align-start {
        align-items: flex-start;
    }
}