* {
    outline: none !important;
}


html, body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    text-align: left;
    border: 1px solid lightgrey;
    padding: 5px 7px;
}

table th {
    background-color: lightgrey;
}

.al-content-wrapper {
    max-width: 1120px;
    margin: auto;
    margin-top: 15px;
    padding: 0 20px;
}

.al-content {
    background-color: white;
    border-radius: 3px;
}

.al-rich-content {
    padding: 1px 1em;
}
