@import '../global/variables';

.al-header {
    background-color: $brand-color;
    height: 60px;
    padding: 0 20px;

    &-logo {
        height: 40px;
        align-self: center;
    }

    &-content {
        max-width: 1120px;
        height: 100%;
        margin: auto;
    }

    &-title {
        font-family: 'Ravi Prakash', cursive;
        margin: 0;
        margin-top: .23em;
        color: white;
        font-size: 2.5em;
        line-height: 1em;

        > a {
            text-decoration: none; 
            color: inherit;
        }
    }

    &-menu {
        margin: 0;
        text-align: right;

        > a {
            padding-left: .75em;
            font-family: 'Open Sans', sans-serif;
            color: white;
            text-decoration: none;
        }
    }
}

.al-icon {
    color: $brand-color;
}

.al-content {
    &-wrapper {
        max-width: 1120px;
        margin: auto;
        margin-top: 15px;
        padding: 0 20px;
    }
    
    &-panel {
        background-color: white;
        padding: 0.5em 1em;
        margin: 8px 0;
        border: 1px solid #eeeeee;
        border-radius: 5px;
    }
    
    &-sidebar {
        width: 220px;
    }
}

.al-footer {
    background-color: $brand-color;

    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;

    padding: 0.10rem;

    &-content {
        color: #fff;
        max-width: 1120px;
        margin: auto;
        padding: 0 20px;
    }
}
