@import '../global/variables';

.al-header {
    background-color: $brand;
    height: 60px;
    padding: 0 20px;
    
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);

    &-logo {
        text-align: center;
        a {
            text-decoration: none;
        }

        img {            
            height: 40px;
        }
    }

    &-content {
        max-width: 1120px;
        height: 100%;
        margin: auto;
    }

    &-title {
        font-family: 'Ravi Prakash', cursive;
        margin: 0;
        margin-top: .23em;
        color: white;
        font-size: 2.5em;
        line-height: 1em;

        > a {
            text-decoration: none; 
            color: inherit;
        }
    }

    &-subtitle {
        font-family: 'Ravi Prakash', cursive;
        margin: -0.75em 0 0 .23em;
        color: white;
        font-size: 1.5em;

        > a {
            text-decoration: none; 
            color: inherit;
        }
    }

    &-menu {
        margin: 0;
        text-align: right;

        > a {
            padding-left: .75em;
            font-family: 'Open Sans', sans-serif;
            color: white;
            text-decoration: none;
        }
    }
}

.al-avatar {
    &-miniature {
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat;

        width: 50px;
        height: 50px;
        margin-left: 0.5em;
        border-radius: 50%;        
    }
}

.al-icon {
    color: $brand;
}

.al-order-bar {
    width: 100%;

    margin-top: 8px;
    margin-left: 20px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.al-activity-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
 
.al-content {
    &-wrapper {
        max-width: 1120px;
        margin: auto;
        margin-top: 15px;
        padding: 0 20px;
    }
    
    &-panel {
        background-color: white;
        padding: 0.5em 1em;
        margin: 8px 0;
        box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
    }
    
    &-sidebar {
        width: 220px;
        
        h1, h2, h3 {
            margin: 0;
            font-weight: 300;
            font-style: normal;
        }
    }
}

.al-footer {
    background-color: $brand;

    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;

    padding: 0.10rem;

    &-content {
        color: #fff;
        max-width: 1120px;
        margin: auto;
        padding: 0 20px;
    }
}
