$brand-color: #e67e22;
$secondary-color: #514036;
$accent-color: #00828F;
$error-color: #e74c3c;
$activity-card-background: #F0F3FA;
$activity-card-dark-background: #3A4769;
$activity-card-border: #A5B1D1;