{% extends './_layout.html' %}

{% block title %}<h1>{{ form_title }}</h1>{% endblock %}
{% block content %}
<div class="al-content-panel">
    <form method="POST" class="al-form-base al-layout-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="al-submit-wrapper">
            <input type="submit" value="{{ submit_text }}"/>
        </div>
    </form>
    {% if rich_field_name != "" %}
    <script>
        CKEDITOR.replace( '{{ rich_field_name }}' );
    </script>
    {% endif %}
    {% block other-content %}{% endblock %}
</div>
{% endblock %}