{% extends './_layout_floating_box.html' %}

{% block content %}
    <form method="POST" class="al-form-base">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="al-submit-wrapper-edge">
            <input class="al-submit-big" type="submit" value="{{ submit_text }}"/>
        </div>
    </form>
    {% if rich_field_name != "" %}
    <script>
        CKEDITOR.replace( '{{ rich_field_name }}' );
    </script>
    {% endif %}
    
    {% block other-content %}{% endblock %}
{% endblock %} 