{% extends './_layout.html' %}

{% block title %}
<div class="al-activity-header">
    <div class="al-activity-title">
        <h1>{{ activity.title }} <small>by {{ activity.author.username }}</small></h1>
    
        {% if session_list.first %}
        <div class="al-activity-next-session">
            <p><i class="fa fa-calendar"></i> Next Session <b>{{ activity.get_next_session.start_date }}</b><p>
        </div>
        {% endif %}
    </div>
    <div class="al-activity-menu">
        {% block user_options %}{% endblock %}
    </div>
</div>
{% endblock %}

{% block content %}    
    <div class="al-rich-content">
        <small>Description:</small>
        <p>{{ activity.description | safe }}</p>

        <small>Settings:</small>
        <p>Users may join this activity
        {% if activity.auto_register %}
            <b> freely.</b>
        {% else %}
            <b> upon request.</b>
        {% endif %}    
        </p>
        <p>Confirmation period starts <b>{{activity.confirmation_period}} days</b> before the session's start date.</p>
        <p>The minimum age to join this activity is <b>{{activity.age_minimum}} years-old</b>.</p>


        <div class="al-activity-attendants">
            <small>Attendants:</small>
            {% block attendants %}{% endblock %}
        </div>

        {% block requests %}
        {% endblock %}
    </div>
    <div class="al-table">
        <div class="al-table-header">
            <div class="al-table-filters">
            </div>
            <div class="al-table-menu">
                {% block session_list_menu %}
                {% endblock %}
            </div>
        </div>
        <table>
            <tr>
                <th>Description</th>
                <th>Where</th>
                <th>Start</th>
                <th>End</th>
                <th>Confirmed Attendants</th>
                {% block session_extra_columns %}{% endblock %}
            </tr>
            {% for session in session_list %}
                <tr>
                    <td><p>{{ session.description | safe }}</p></td>
                    <td><p>{{ session.location }}</p></td>
                    <td><p>{{ session.start_date }}</p></td>
                    <td><p>{{ session.end_date }}</p></td>
                    <td>
                        {% for confirmed_user in session.confirmed_attendants.all %}
                            <p>{{ confirmed_user.username }}</p>
                        {% endfor %}                
                    </td>
                    {% block session_extra_cells %}{% endblock %}                
                </tr>           
            {% endfor %}
        </table>
    </div>
{% endblock %}