{% extends './_layout.html' %}
{% load i18n %}

{% block title %}
    <h1>About Us</h1>
{% endblock %}

{% block content %}
    <div class="al-content-panel">
        <h2>Who are we?</h2>
        <p>We are Darkatom and Sirikon. Under the Big Evil Llama monicker, we are the ones making Alpaca happen. Yes, we are the Big Evil Llama's parents. But hey, someone had to look over all your activities, right?</p>
        <p>We both take part in INERS Cultural Association, and there we saw the need for a system that would allow anyone to manage their activities efficiently. We envisioned Alpaca as a central place for all sorts of activities, where messy Chat Groups wouldn't be needed.</p>
        <p>We really hope you are enjoying your stay here and taking advantage of everything we dreamt for Alpaca =)</p>
        <br/>
        <h2>Contact us!</h2>
        <p>Should you want to reach any of us, here are our e-mails: Darkatom (olatz.cp@gmail.com), Sirikon (sirikon2@gmail.com).</p>
        <p>Should you have any problems with the web functionality, you may post an issue on our <a href="https://github.com/Darkatom/WarLlama/issues">GitHub repository issues section</a>.</p>
        <p>If you have any other kind of problems with Alpaca, we are working on a form for this kinds of issues. In the meantime, you may reach Darkatom and she'll take care of your problem.</p>
        <br/>
        <p>Alpaca hugs <i class="fa fa-heart al-icon" aria-hidden="true"></i></p>
        <p><b><i>Darkatom & Sirikon</i></b></p>
    </div>
{% endblock %}
