{% extends './_layout.html' %}
{% load i18n %}

{% block title %}
    <h1>About Us</h1>
{% endblock %}

{% block content %}
    <div class="al-content-panel">
        <h2>{% trans "Who are we?" %}</h2>
        <p>{% trans "Darkatom and Sirikon. We are the creators of Alpaca. We make sure everything at Alpaca works as expected. And yes, that means we are the Big Evil Llama's parents." %}</p>
       
        <h3>{% trans "Who is the Big Evil Llama?" %}</h3>
        <p>{% trans "That's a great question, but she would get very angry if we told her secret. However, you may read George Orwell's 1984 novel (if you haven't already) to get an idea on who the Big Evil Llama might be ;)" %}</p>

        <h3>{% trans "What is Alpaca?" %}</h3>
        <p>{% trans "Alpaca is an activity management system application. That is, a place where you can create and manage your activities. The home page serves for a public index of all activities in Alpaca. This way, anyone can see your activity and join in! And you may join others' activities too!" %}</p>

        <h3>{% trans "Why 'Alpaca'?" %}</h3>
        <p>{% trans "We have spent quite a lot of time enjoying INERS Cultural Association's activities and, eventually, getting involved with it and helping it grow. One day, we both just realized we needed something that would allow us to organize and manage activities without the need of messy chat groups. Somewhere where not only the activity could be easily managed —who is coming? who is not?— but also somewhere where potential attendants could see all of our available activities." %}</p>
        <p>{% trans "And we wanted it to be available to anyone and everyone in need of a similar system. Furthermore, make it a way of advertising the activities at our localities, reaching out to any groups and people wanting to make something happen, and giving them the chance of fair, equal advertisement for their activities." %}</p>        
        <p>{% trans "So we reached each other, having thought separately the same. Our ideas merged and... Alpaca was born." %}</p>
        <p>{% trans "Oh, the name? We just love alpacas. And llamas. And vicuñas. Wish there was a way to ride them into battle!" %}</p>

        <br/>
        <h2>{% trans "Contact us!" %}</h2>
        <p>{% trans "Should you want to reach any of us, here are our e-mails:" %} Darkatom (darkatomish@gmail.com), Sirikon (sirikon2@gmail.com).</p>
        <p>{% trans "Should you have any problems with the web functionality, you may post an issue on our" %} <a href="https://github.com/Darkatom/WarLlama/issues">{% trans "GitHub repository issues section" %}</a>.</p>
        <p>{% trans "If you have any other kind of problems with Alpaca, we are working on a form for this kinds of issues. In the meantime, you may reach Darkatom and she'll take care of your problem." %}</p>

        <br/>
        <h2>{% trans "Last, but not least, a big THANK YOU to..."%}</h2>
        <p>{% trans "Our translators:" %}</p>
        <ul>
            <li>Euskera: Maialen Rollán Arriaga</li>
        </ul>

        <br/>
        <p>{% trans "Alpaca hugs" %} <i class="fa fa-heart al-icon" aria-hidden="true"></i></p>
        <p><b><i>Darkatom & Sirikon</i></b></p>
    </div>
{% endblock %}

