{% extends './_layout.html' %}

{% block title %}{{ activity.title }}{% endblock %}

{% block content %}
    <div class="al-rich-content">
        <ul>
            <li>Published: {{ activity.pub_date }}</li>
            <li>Author: {{ activity.author.username }}</li>
            <li>Description: {{ activity.description }}</li>
        </ul>
        <h3>{{ user.username }}</h3>
        {% if user.is_authenticated %}
            {% if user in activity.attendants %}
                <p>You are part of this activity!</p>
            {% else %}
                <a href="{% url 'alpaca:activity' activity.id %}">Join!</a>
            {% endif%}
        {% else %}  
            <a href="{% url 'alpaca:login' activity.id %}">Join!</a>  
        {% endif %}
    </div>

    <table>
        <tr>
            <th>Description</th>
            <th>Start</th>
            <th>End</th>
            <th>Confirmed Attendants</th>
            <th>Are you coming?</th>
        </tr>
        {% for session in session_list %}
        <tr>
            <td>{{ session.description }}</td>
            <td>{{ session.start_date }}</td>
            <td>{{ session.end_date }}</td>
            <td>{{ session.confirmed_attendants.count }}</td>
            <td><button>I'm coming!</button></td>
        </tr>           
        {% endfor %}
    </table>
{% endblock %}
