{% extends './_layout_activity.html' %}

<!--{% block title %}{{ activity.title }} by {{ activity.author.username }}{% endblock %}-->

{% block content %}

    {% include "./partials/activity-header.html" %}

    {% include "./partials/activity-description.html" %}

    {% include "./partials/activity-attendants.html" %}

    <div class="al-content">
        <table>
            <tr>
                <th>Description</th>
                <th>Start</th>
                <th>End</th>
                <th>Confirmed Attendants</th>
                <th>Are you coming?</th>
            </tr>
            {% for session in session_list %}
                <tr>
                    <td><p>{{ session.description }}</p></td>
                    <td><p>{{ session.start_date }}</p></td>
                    <td><p>{{ session.end_date }}</p></td>
                    <td>
                        {% for confirmed_user in session.confirmed_attendants.all %}
                            <p>{{ confirmed_user.username }}</p>
                        {% endfor %}                
                    </td>
                    <td>
                        {% if session.has_finished %}
                            <p>Closed & Finished</p>
                        {% else %}
                            {% if user not in activity.attendants.all %}
                                <p>Join the activity to come!</p>
                            {% elif session.is_on_confirmation_period %}
                                {% if user in session.confirmed_attendants.all %}
                                    <p>See you there ^^</p>
                                {% else %}
                                    <form action="{{activity.id}}/confirm/" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="session_id" value="{{ session.id }}"/>
                                        <input type="submit" name="confirm_session" value="I'm going!!"/>
                                    </form>
                                {% endif %}
                            {% else %}
                                <p>Coming soon...</p>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>           
            {% endfor %}
        </table>
    </div>
    
{% endblock %}
