{% extends './_layout_activity.html' %}

<!--{% block title %}{{ activity.title }} by {{ activity.author.username }}{% endblock %}-->

{% block content %}

    {% include "./partials/activity-header.html" %}

    {% include "./partials/activity-description.html" %}

    {% include "./partials/activity-attendants.html" %}

    <div class="al-content">
        <table>
            <tr>
                <th>Description</th>
                <th>Start</th>
                <th>End</th>
                <th>Confirmed Attendants</th>
            </tr>
            {% for session in session_list %}
                <tr>
                    <td><p>{{ session.description }}</p></td>
                    <td><p>{{ session.start_date }}</p></td>
                    <td><p>{{ session.end_date }}</p></td>
                    <td>
                        {% for confirmed_user in session.confirmed_attendants.all %}
                            <p>{{ confirmed_user.username }}</p>
                        {% endfor %}                
                    </td>
                </tr>           
            {% endfor %}
        </table>
    </div>

{% endblock %}
