{% extends './_layout_activity.html' %}
    
{% block user_options %}
    <a href="{% url 'alpaca:login' activity.id %}">
        <button class="al-activity-header-join al-btn-important">Join!</button>
    </a>
{% endblock %}


{% block attendants %}
    {% if activity.attendants.count <= 0 %}
        <p>There are no users attending this activity, except {{ activity.author }}.</p>
    {% else %}    
        {% for att in activity.attendants.all %}
            <span class="al-activity-attendant">{{ att.username }}</span>
        {% endfor %}
    {% endif %}
{% endblock %}
