{% extends './_layout_activity.html' %}

{% block user_options %}
    
    {% if not user_is_old_enough %}
        <p>You are too young to attend this activity.</p>
    {% elif user in activity.pending_attendants.all %}
        <p>The author of this activity has received your request to join!</p>
    {% elif user in activity.attendants.all %}
        <form action="leave/{{activity.id}}" method="POST">
            {% csrf_token %}
            <input class="al-activity-header-join al-btn-important" type="submit" name="leave_activity" value="Leave"/>
        </form>
    {% else %}
        <form action="join/{{activity.id}}" method="POST">
            {% csrf_token %}
            <input class="al-activity-header-join al-btn-important" type="submit" name="join_activity" value="Join!"/>
        </form>
    {% endif %}
{% endblock %}


{% block attendants %}
    {% if activity.attendants.count <= 0 %}
        <p>There are no users attending this activity, except {{ activity.author }}.</p>
    {% else %}    
        {% for att in activity.attendants.all %}
            <span class="al-activity-attendant">{{ att.username }}</span>
        {% endfor %}
    {% endif %}
{% endblock %}


{% block session_extra_columns %}
    <th>State</th>
{% endblock %}   


{% block session_extra_cells %}
    <td>
        {% if session.has_finished %}
            <p>Closed & Finished</p>
        {% else %}
            {% if user not in activity.attendants.all %}
                <p>Join the activity to come!</p>
            {% elif session.is_on_confirmation_period %}
                {% if user in session.confirmed_attendants.all %}
                    <p>See you there ^^</p>
                {% else %}
                    <form action="{{activity.id}}/confirm/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="session_id" value="{{ session.id }}"/>
                        <input type="submit" name="confirm_session" value="I'm going!!"/>
                    </form>
                {% endif %}
            {% else %}
                <p>Coming soon...</p>
            {% endif %}
        {% endif %}
    </td>
{% endblock %}
