{% extends './_layout_activity.html' %}

<!--{% block title %}{{ activity.title }} - You are the author of this activity{% endblock %}-->

{% block content %}

    {% include "./partials/activity-header.html" %}

    {% include "./partials/activity-description.html" %}

    {% include "./partials/activity-attendants.html" %}

    {% include "./partials/activity-settings.html" %}
    
    {% if not activity.auto_register %}
        {% include "./partials/activity-pending-requests.html" %}
    {% endif %} 

    <div class="al-content">
        <a href="{% url 'alpaca:new_session' activity.id %}">Add session</a>
        <table>
            <tr>
                <th>Description</th>
                <th>Where</th>
                <th>Start</th>
                <th>End</th>
                <th>Confirmed Attendants</th>
                <th>State</th>
                <th>Edit</th>
            </tr>
            {% for session in session_list %}
                <tr>
                    <td><p>{{ session.description }}</p></td>
                    <td><p>{{ session.location }}</p></td>
                    <td><p>{{ session.start_date }}</p></td>
                    <td><p>{{ session.end_date }}</p></td>
                    <td>
                        {% for confirmed_user in session.confirmed_attendants.all %}
                            <p>{{ confirmed_user.username }}</p>
                        {% endfor %}                
                    </td>
                    <td>
                        {% if session.has_finished %}
                            <p>Closed & Finished</p>
                        {% elif session.is_on_confirmation_period %}
                            <p>Open for confirmation</p>
                        {% else %}
                            <p>Not ready yet</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if not session.has_finished %}
                            <a href="{% url 'alpaca:edit_session' activity.id session.id %}">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>           
            {% endfor %}
        </table>
    </div>
    
{% endblock %}
