{% extends './_layout_activity.html' %}

{% block user_options %}    
    <a class="al-btn-menu-big" href="{% url 'alpaca:edit_activity' activity.id %}">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>Edit</span>
    </a>
{% endblock %}


{% block attendants %}
    {% if activity.attendants.count <= 0 %}
        <p>There are no users attending your activity.</p>
    {% else %}
        <form action="kick/{{activity.id}}" method="POST">
            {% csrf_token %}
            <select id="attending_users" name="attending">
            {% for att in activity.attendants.all %}
                <option value="{{att.id}}">{{ att.username }}</option>
            {% endfor %}
            </select>
            <input type="submit" name="kick_participant" value="Kick out"/>
        </form>
    {% endif %}
{% endblock %}


{% block requests %}
    <div class="al-activity-attendants">
        <small>Pending requests:</small>  
        {% if activity.pending_attendants.count <= 0 %}
            <p>There are no pending requests to join the activity.</p>
        {% else %}
            <p>Manage the requests to join the activity:</p>
            <form action="pending/{{activity.id}}" method="POST">
                {% csrf_token %}
                <select id="pending_requests" name="user_join_request">
                {% for att in activity.pending_attendants.all %}
                    <option value="{{att.id}}">{{ att.username }}</option>
                {% endfor %}
                </select>
                <input type="submit" name="accept_request" value="Accept"/>
                <input type="submit" name="reject_request" value="Reject"/>
            </form>  
        {% endif %}
    </div>
{% endblock %}

{% block session_list_menu %}
    <a class="al-btn-menu-small" href="{% url 'alpaca:new_session' activity.id %}">
        <i class="fa fa-plus"></i> <span>Add session</span>
    </a>
{% endblock %}
    
{% block session_extra_columns %}
    <th>State</th>
    <th>Edit</th>
{% endblock %}      
 
 
{% block session_extra_cells %}
    <td>
        {% if session.has_finished %}
            <p>Closed & Finished</p>
        {% elif session.is_on_confirmation_period %}
            <p>Open for confirmation</p>
        {% else %}
            <p>Not ready yet</p>
        {% endif %}
    </td>
    <td>
        {% if not session.has_finished %}
            <a href="{% url 'alpaca:edit_session' activity.id session.id %}">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
        {% endif %}
    </td>
{% endblock %}       
