{% extends './_layout.html' %}

{% block title %}{{ activity.title }} by {{ activity.author.username }}{% endblock %}

{% block content %}
    <div class="al-rich-content">
        <p>Published: {{ activity.pub_date }}</p>
        <h3>Description</h3>           
        <p>{{ activity.description }}</p>
       
        <h3>Attending</h3>
        <p>
        {% for att in activity.attendants.all %}
            {{ att.username }} 
        {% endfor %}
        </p>

        {% if user.is_authenticated %}
            {% if activity.author == user or user in activity.attendants.all %}
                <p>You are part of this activity!</p>
            {% else %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" name="al_join" value="Join!"/>
                </form>
            {% endif%}
        {% else %}  
            <a href="{% url 'alpaca:login' activity.id %}">Join!</a>  
        {% endif %}
    </div>

    <table>
        <tr>
            <th>Description</th>
            <th>Start</th>
            <th>End</th>
            <th>Confirmed Attendants</th>
            <th>Are you coming?</th>
        </tr>
        {% for session in session_list %}
        <tr>
            <td><p>{{ session.description }}</p></td>
            <td><p>{{ session.start_date }}</p></td>
            <td><p>{{ session.end_date }}</p></td>
            <td><p>{{ session.confirmed_attendants.count }}</p></td>
            <td>
                {% if user.is_authenticated %}
                    {% if sessions.isOnConfirmationPeriod %}
                        {% if session.canUserJoin %}
                            <form method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="session_id" value="{{ session.id }}"/>
                                <input type="submit" name="al_confirm" value="I'm going!!"/>
                            </form>
                        {% else %}
                            <p>See you there ^^</p>
                        {% endif %}
                    {% elif not session.hasFinished %}
                        <p>Coming soon!</p>
                    {% endif %}
                {% else %}
                    <p>Join the activity to come!</p>
                {% endif %}
            </td>
        </tr>           
        {% endfor %}
    </table>
{% endblock %}
