{% extends './_layout.html' %}

{% block title %}
    {% include "./partials/activities/activity-header.html" %}
{% endblock %}   

{% block content %}

    {% include "./partials/activities/activity-description.html" %}

    {% include "./partials/activities/activity-attendants.html" %}

    <div class="al-content">
        <table>
            <tr>
                <th>Description</th>
                <th>Where</th>
                <th>Start</th>
                <th>End</th>
                <th>Confirmed Attendants</th>
            </tr>
            {% for session in session_list %}
                <tr>
                    <td><p>{{ session.description | safe  }}</p></td>
                    <td><p>{{ session.location }}</p></td>
                    <td><p>{{ session.start_date }}</p></td>
                    <td><p>{{ session.end_date }}</p></td>
                    <td>
                        {% for confirmed_user in session.confirmed_attendants.all %}
                            <p>{{ confirmed_user.username }}</p>
                        {% endfor %}                
                    </td>
                </tr>           
            {% endfor %}
        </table>
    </div>

{% endblock %}
