{% extends './_layout.html' %}

{% block title %}
    {% if user.is_authenticated %}
        <div class="al-flex">
            <div class="al-flex-grow">
                {% include "./partials/activity-filter-order.html" %}
            </div>
            <a class="al-btn-action-big" href="/newactivity/">
                <i class="fa fa-plus"></i><span> New Activity</span>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% include "./partials/activity-card-list.html" %}
{% endblock %}
