{% extends './_layout.html' %}
{% load i18n %}

{% block title %}
    <!-- Tomorrow sessions bar goes here -->
{% endblock %}

{% block content %}
    <div class="al-flex-row al-flex-stretch-content">
        <div class="al-flex-column">            
            {% if user.is_authenticated %}
                <a href="{% url 'alpaca:new_activity' %}" class="al-btn-sqrflat-big">
                    <i class="fa fa-plus" aria-hidden="true"></i> 
                    <span>{% trans "New Activity" %}</span>
                </a>
            {% endif %}

            {% include "./partials/search-bar.html" %}
            
            {% if user.is_authenticated %}
                {% include "./partials/index-filter-panel.html" %}
            {% endif %}
            
            <!-- Where Panel -->
            {% include "./partials/_form_panel.html" %}
        </div>
        <div class="al-flex-grow al-flex-column">
            
            {% include "./partials/index-order-bar.html" %}

            <div class="al-activity-list">
                {% for activity in activity_list %}
                    {% include "./partials/activity-card.html" %}                
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
