{% extends './_layout.html' %}
{% load i18n %}

{% block title %}
    <!-- Tomorrow sessions bar goes here -->
{% endblock %}

{% block content %}
    <div class="al-flex-row al-flex-stretch-content">
        <div class="al-flex-column">
            {% include "./partials/search-bar.html" %}

            {% if user.is_authenticated %}
                {% include "./partials/index-filter-panel.html" %}
            {% endif %}
            
            <!-- Where Panel -->
            {% include "./partials/_form_panel.html" %}
        </div>
        <div class="al-flex-grow al-flex-column">
            <div>
                {% include "./partials/index-order-bar.html" %}
            </div>
            <div class="al-flex-row">
                <div class="al-flex-grow">
                    {% for activity in activity_list %}
                        {% include "./partials/activity-card.html" %}                
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
