{% extends '../shared/layouts/_layout.html' %}
{% load i18n %}

{% block content %}

    <div class="al-flex-row al-margin-top">
        <img draggable="false" class="al-rounded" src="{{ group.logo.url }}" width="150px" height="auto"/>
    </div>

    <h1 class="al-title al-text-center al-margin-top al-margin-bottom">
        <span>{{ group.name }}</span>
    </h1>

    <div class="al-flex-row al-flex-margin-between">
        {% include "../shared/visuals/_tag.html" with icon="user" text=group.total_num_members %}
        {% include "../shared/visuals/_tag.html" with icon="bookmark" text=group.creation_date %}
    </div>

    <div class="al-flex-row al-margin-top">
        {% if group.show_email %}
            {% include "../shared/visuals/_tag.html" with icon="envelope" text=group.email %}
        {% endif %}
    </div>

    <div class="al-flex-row al-margin-top al-flex-margin-between" style="font-size: 1.5em;">
        {% block user_options %}{% endblock %}
    </div>

    <div class="al-content-panel">
        {{ group.description | safe }}
    </div>

    <div class="al-content-panel">        
        <small>{% trans "Administrators:" %}</small>
        {% block admin_list %}{% endblock %}
    </div>

    <div class="al-content-panel"> 
        <small>{% trans "Members:" %}</small>  
        {% block member_list %}{% endblock %}
    </div>

    {% block pending_members_list %}{% endblock %}
    
    {% block pending_activities_list %}{% endblock %}
    
    <div class="al-group-history">
        <div class="al-content-panel al-group-history-events">
            <h2>{% trans "Events" %}</h2>  
            {% if group.event_set.count <= 0 %}
                <p>{% trans "No events yet!" %}</p>
            {% else %}
                {% for event in group.event_set.all %}
                    {% include "../shared/visuals/_event-card.html" %}            
                {% endfor %}
            {% endif %}
        </div>

        <div class="al-content-panel al-group-history-activities">
            <h2>{% trans "Activities" %}</h2>  
            {% if group.activity_list.count <= 0 %}
                <p>{% trans "No activities yet!" %}</p>
            {% else %}
                {% for activity in group.activity_list.all %}
                    {% include "../shared/visuals/_activity-card.html" %}                
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}