<div class="al-content al-activity-attendants">
    <small>Attendants:</small>
    {% if activity.attendants.count <= 0 %}
        <p>There are no users attending this activity, except {{ activity.author }}.</p>
    {% elif user == activity.author %}
        <form action="kick/{{activity.id}}" method="POST">
            {% csrf_token %}
            <select id="attending_users" name="attending">
            {% for att in activity.attendants.all %}
                <option value="{{att.id}}">{{ att.username }}</option>
            {% endfor %}
            </select>
            <input type="submit" name="kick_participant" value="Kick out"/>
        </form>
    {% else %}    
        {% for att in activity.attendants.all %}
            <span class="al-activity-attendant">{{ att.username }}</span>
        {% endfor %}
    {% endif %}
</div>
