<div class="al-content">
    <div class="al-rich-content">
        <p>
            <small>Settings:</small>
        </p>
        <p>
            Auto-registration is
            {% if activity.auto_register %}
                <b>activated.</b>
            {% else %}
                <b>not activated.</b>
            {% endif %}    
        </p>
        <p>Confirmation period starts <b>{{activity.confirmation_period}} days</b> before the session's start date.</p>
        <p>The minimum age to join this activity is <b>{{activity.age_minimum}} years-old</b>.</p>
    </div>
</div>
