{% extends '../shared/layouts/_layout.html' %}
{% load i18n %}

{% block content %}

    <div class="al-flex-row al-margin-top">
        <img draggable="false" class="al-margin-right al-rounded" src="{{ looking_at_user.profile.avatar.url}}" width="100px" height="auto"/>
        <h1 class="al-title al-flex-grow">
            <span>{{ looking_at_user.profile.get_display_name }}</span>
            {% if user.username == looking_at_user.username %}
                <a class="al-button al-button-inline al-float-right" href="{% url 'alpaca:edit_profile' %}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>{% trans "Edit" %}</span>
                </a>
            {% endif %}
        </h1>
    </div>

    <div class="al-content-panel">
        {% if looking_at_user.profile.show_birthday %}
            <p><i class="fa fa-birthday-cake"></i> {{ looking_at_user.profile.birth_date }}</p>
        {% endif %}

        {% if looking_at_user.profile.show_email %}
            <p><i class="fa fa-envelope"></i> {{ looking_at_user.email }}</p>
        {% endif %}
    </div>

    <div class="al-section-title">Activities organized by {{ looking_at_user.username }}</div>

    {% if activity_list %}
        {% include "../shared/visuals/_order-bar.html" %}
    {% endif %}

    <div class="al-activity-list">
        {% for activity in activity_list %}
            {% include "../shared/visuals/_activity-card.html" %}
        {% empty %}
            {% include "../shared/visuals/_empty.html" with message="There isn't any activity yet" %}
        {% endfor %}
    </div>

{% endblock %}
