{% extends '../shared/layouts/_layout.html' %}
{% load i18n %}

{% block content %}

    <div class="al-flex-row al-margin-top">
        <img draggable="false" class="al-rounded" src="{{ looking_at_user.profile.avatar.url}}" width="150px" height="auto"/>
    </div>

    <h1 class="al-title al-text-center al-margin-top al-margin-bottom">
        <span>{{ looking_at_user.profile.get_display_name }}</span>
    </h1>
    
    <div class="al-flex-row al-flex-margin-between">
        {% if looking_at_user.profile.show_birthday %}
            {% include "../shared/visuals/_tag.html" with icon="birthday-cake" text=looking_at_user.profile.birth_date %}
        {% endif %}
        {% if looking_at_user.profile.show_email %}
            {% include "../shared/visuals/_tag.html" with icon="envelope" text=looking_at_user.email %}
        {% endif %}
    </div>
    
    {% if user.username == looking_at_user.username %} 
        <div class="al-flex-row al-margin-top" style="font-size: 1.5em;">
            <a class="al-button al-button-inline" href="{% url 'alpaca:edit_profile' %}"> 
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span>{% trans "Edit" %}</span> 
            </a> 
        </div>
    {% endif %} 
    
    <div class="al-section-title">Activities organized by {{ looking_at_user.username }}</div>

    {% if activity_list %}
        {% include "../shared/visuals/_order-bar.html" %}
    {% endif %}

    <div class="al-activity-list">
        {% for activity in activity_list %}
            {% include "../shared/visuals/_activity-card.html" %}
        {% empty %}
            {% include "../shared/visuals/_empty.html" with message="There isn't any activity yet" %}
        {% endfor %}
    </div>

{% endblock %}
