{% load i18n %}

<script>
  $(function() {
        $( ".datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "1900:2012",
            // You can put more options here.

        });
  });
</script>

<div class="al-content-panel al-content-sidebar">
    <small>{{ form_title }}</small>
    <form method="POST" class="al-panel-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="al-submit-wrapper">
            <input type="submit" class="al-btn-action-small" name="{{ form_name }}" value="{{ submit_text }}"/>
        </div>
    </form>

    {% if rich_field_name is not None and rich_field_name != "" %}
        <script>
            CKEDITOR.replace( '{{ rich_field_name }}' );
        </script>
    {% endif %}
    {% block other-content %}{% endblock %}
</div>

            
