{% load i18n %}

<div class="al-content-panel">
    <small>{% trans "Show" %}</small>
    <form name="filter_form">
        <input type="radio" name="filter" onclick="location.href=this.value;" value="?filter=all" 
            {% if current_filter == "all" or current_filter is None%} checked {% endif %}> 
                <span>{% trans "All Activities" %}</span> 
        <br>
        <input type="radio" name="filter" onclick="location.href=this.value;" value="?filter=author"
            {% if current_filter == "author" %} checked {% endif %}> 
                <span>{% trans "I am author" %}</span> 
        <br>
        <input type="radio" name="filter" onclick="location.href=this.value;" value="?filter=attendant"
            {% if current_filter == "attendant" %} checked {% endif %}> 
                <span>{% trans "I attend" %}</span>
    </form>
</div>

            
