<div class="al-content al-activity-attendants">
    <small>Pending requests:</small>  
    {% if activity.pending_attendants.count <= 0 %}
        <p>There are no pending requests to join the activity.</p>
    {% else %}
        <p>Manage the requests to join the activity:</p>
        <form action="pending/{{activity.id}}" method="POST">
            {% csrf_token %}
            <select id="pending_requests" name="requests">
            {% for att in activity.pending_attendants.all %}
                <option value="{{att.id}}">{{ att.username }}</option>
            {% endfor %}
            </select>
            <input type="submit" name="accept_request" value="Accept"/>
            <input type="submit" name="deny_request" value="Deny"/>
        </form>  
    {% endif %}
</div>