@import '../shared/variables';

.al-profile {
    margin: 25px 0;
    padding: 1px 15px;

    &-header  {
        margin: 15px 0 25px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }    

    &-user {
        h1 {
            font-size: 2.5em;
            margin: 0 0 10px;
        }

        small {
            font-size: .5em;
            font-weight: 200;
        }
    }

    &-next-session {
        margin: 0;
        color: grey;
        font-size: 0.9em;
        b {
            color: black;
            font-weight: bold;
        }
    }

    &-menu {
        text-align: right;  

        a {
            text-decoration: none;
        }
    }

    &-attendant {
        display: inline-block;
        padding: 2px 4px;
        background-color: whitesmoke;
        border-radius: 3px;
    }
}