@import '../shared/variables';
@import '../shared/global';

.al-profile-tag {
    $height: 2em;

    @extend .al-panel;
    display: flex;
    background-color: white;
    border-radius: $height/1.9;
    padding: 2px;

    &-icon-wrapper {
        width: $height;
        height: $height;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($accent, 0.2);
        border-radius: 50%;

        .fa {
            color: $accent;
            margin-bottom: 2px;
        }
    }

    &-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.5em 2px 0.5em;
        color: $accent;
    }
}

.al-profile-tag-list {
    > .al-profile-tag:not(:first-child) {
        margin-left: 18px;
    }
}