{% load i18n %}

<div class="al-sidebar-section">
    {% comment %} TODO: Fully translate {% endcomment %}
    <h2 class="al-sidebar-section-title">{% trans "Show" %}</h2>
    <form name="filter_form" method="GET" class="al-form-base">
        <input type="radio" name="filter" onclick="location.href=this.value;" value="?filter=all" 
            {% if current_filter == "all" or current_filter is None%} checked {% endif %}> 
                <span>{% trans "All Activities" %}</span> 
        <br>
        <input type="radio" name="filter" onclick="location.href=this.value;" value="?filter=author"
            {% if current_filter == "author" %} checked {% endif %}> 
                <span>Las que organizo</span> 
        <br>
        <input type="radio" name="filter" onclick="location.href=this.value;" value="?filter=attendant"
            {% if current_filter == "attendant" %} checked {% endif %}> 
                <span>En las que participo</span>
    </form>
</div>
