{% load i18n %}

<div class="al-content-panel al-content-sidebar">
    <h2>{{ form_title }}</h2>
    <form method="POST" class="al-panel-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="al-submit-wrapper">
            <input type="submit" class="al-button al-button-inline" name="{{ form_name }}" value="{{ submit_text }}"/>
        </div>
    </form>

    {% if rich_field_name is not None and rich_field_name != "" %}
        <script>
            CKEDITOR.replace( '{{ rich_field_name }}' );
        </script>
    {% endif %}
    {% block other-content %}{% endblock %}
</div>
