{% load i18n %}

<div class="al-sidebar-section al-when-panel">
    <h2 class="al-sidebar-section-title">{{ form_title }}</h2>
    <form method="POST" class="al-form-base">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="al-submit-wrapper">
            <input type="submit" class="al-button" name="{{ form_name }}" value="{{ submit_text }}"/>
        </div>
    </form>

    {% if rich_field_name is not None and rich_field_name != "" %}
        <script>
            CKEDITOR.replace( '{{ rich_field_name }}' );
        </script>
    {% endif %}
    {% block other-content %}{% endblock %}
</div>
