{% extends './_layout_event.html' %}
{% load i18n %}

{% block user_options %}
    <a class="al-btn-action-big" href="{% url 'alpaca:login' %}">
        {% trans "Join" %}
    </a>
{% endblock %}

{% block attendants %}
    {% if event.attendants.count <= 0 %}
        <p>{% trans "There are no users attending this event, except" %} {{ event.author }}.</p>
    {% else %}    
        {% for att in event.attendants.all %}
            <a class="al-icon-user" href="{% url 'alpaca:profile' att.username %}">{{ att.username }}</a>
        {% endfor %}
    {% endif %}
{% endblock %}
